@import "bootstrap-sprockets";
@import "bootstrap";

body{
  display: none;
  padding: 50px 0 0;
  background-color: #666666;
}

.float-box{
  overflow: hidden;
}

.alert-box{
  margin-top: 20px;
}

.container-back{
  background-color: #7777ff;
}

.first-contents{
  margin-top: 20px;
}