<!DOCTYPE html>
<html>
<head>
  <title>Wakeibo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>テストコミット用h1</h1>
<p>テストその2</p>
<%= yield %>

</body>
</html>
